version: '3.8'
services:
  seata:
    image: seataio/seata-server:1.4.1
    hostname: seata-server
    ports:
      - 127.0.0.1:8091:8091
    environment:
      - SEATA_PORT=8091
    expose:
      - 8091
